$home-background-color: #fafafa;

.app-home {
  background-color: $home-background-color;
  display: flex;
  justify-content: center;
  width: auto;
  height: calc(100vh - 50px);
}

.filters-form__card {
  display: flex;
  width: 90vw;
  height: 40%;
  margin-top: 80px;

  form {
    width: 100%;
  }

  .card__inputs-container {
    display: flex;
    justify-content: space-between;

    &--input {
      flex: 1;
      margin: 0 10px;
    }
  }
}
