$home-background-color: #fafafa;
$button-color: #f7f6e6;
$text-color: #616159;

.app-home {
  background-color: $home-background-color;
  display: flex;
  justify-content: center;
  width: auto;
  height: 100vh;
}

.filters-form__card {
  display: flex;
  width: 90vw;
  height: 36%;
  margin-top: 80px;

  form {
    width: 100%;
  }

  .card__inputs-container {
    display: flex;
    justify-content: space-between;

    &--input {
      flex: 1;
      margin: 0 10px;
    }
  }

  .card__buttons-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15px;

    button {
      border: none;
      outline: none;
      padding: 16px 0;
      margin-left: 5px;
      border-radius: 20px;
      width: 180px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      background-color: $button-color;
      color: $text-color;
    }
  }
}
