<div class="app-signin">
  <mat-card class="app-signin__card">
    <div class="card__form">
      <form [formGroup]="loginForm">
        <h1>Logowanie</h1>
        <div>
          <mat-form-field appearance="outline" class="card__form--input">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" maxlength="50" />
            <mat-error
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
              >To pole jest wymagane</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="card__form--input">
            <mat-label>Hasło</mat-label>
            <input
              matInput
              formControlName="password"
              maxlength="50"
              type="password"
            />
            <mat-error
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
              >To pole jest wymagane</mat-error
            >
          </mat-form-field>
        </div>
        <div *ngIf="error" class="card__form--error">
          {{ error }}
        </div>
        <div class="card__form--button">
          <button (click)="login()">ZALOGUJ SIĘ</button>
        </div>
        <p class="card__form--register">
          Nie masz konta?
          <a routerLink="/register">Zarejestruj się</a>
        </p>
      </form>
    </div>
  </mat-card>
</div>
